<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogly Home</title>
</head>
<body>
    <h1>Welcome to Blogly!</h1>

    <h2>Recent Posts</h2>
    <ul>
        {% for post in posts %}
            <li>
                <p>{{post.title}}</p>
                <p>{{post.content}}</p>
            </li>
        {% endfor %}
    </ul>

    <a href="/all-users">
        <button type="button">Show Users</button>
    </a>
    
</body>
</html>