<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogly Home</title>
</head>
<body>
    <h1>Welcome to Blogly!</h1>

    <h2>Recent Posts</h2>
    <ul>
        {% for post in posts %}
            <li>
                <a href="/{{post.user.id}}/{{post.id}}">
                    <h3>{{post.title}}</h3>
                </a>
                <p>{{post.content}}</p>
                <small>by: {{post.user.first_name}} {{post.user.last_name}}</small>

                <small>on {{post.created_at}}</small>
            </li>
        {% endfor %}
    </ul>

    <a href="/all-users">
        <button type="button">Show Users</button>
    </a>
    
</body>
</html>