<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{user.first_name}}'s Details</title>
</head>
<body>

    <h1>{{user.first_name}}'s Details</h1>

    <img src="{{user.image_url}}" alt="User Image" width="100">

    <h2>{{user.first_name}} {{user.last_name}}</h2>

    <!-- <h3>{{user_id}}</h3> -->

    <a href="/edit-user/{{user.id}}">
        <button>Edit User</button>
    </a>

    <form action="/delete-user/{{user.id}}" method="POST">
        <button type="submit">Delete User</button>
    </form>

    <h3>Posts</h3>
    <ul>
        {% for post in user.posts %}
            <li>
                <a href="/{{user.id}}/{{post.id}}">
                    {{post.title}}
                </a>
            </li>
        {% endfor %}
    </ul>

    <a href="/{{user.id}}/add-post">
        <button>Add Post</button>
    </a>
    <br>
    <a href="/all-users"> 
        <button>Back to Users</button>
    </a>
    <br>
    <a href="/"> 
        <button>Back to Home</button>
    </a>
</body>
</html>